doctype html
html
	head
		script(src='http://code.jquery.com/jquery-latest.min.js')
		//Load Maps
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAwd96WzMqV5K8p8JZwKCf2voxCgPFsYqY', type='text/javascript')
		script(type="text/javascript").
			var test="#{records}";
			
			console.log(test);
			var newtest = test.replace(/&quot;/g,'"');
			var recordArray = JSON.parse(newtest);
			console.log(recordArray.length);
			$(document).ready(function()
			{	
				console.log(recordArray[0].origin);			
				for(var i=0;i<recordArray.length;i++)
				{
						$("#holder").append(recordArray[i].origin+"  ");
						//$("#holder").append("<br>");
						$("#holder").append(recordArray[i].destination+"  ");
						//$("#holder").append("<br>");
						//iterate over all boxes
						for(var j=0;j<recordArray[i].bounds.length;j++)
						{
							var latNE = recordArray[i].bounds[j].latNE;
							var longNE = recordArray[i].bounds[j].longNE;
							var latSW = recordArray[i].bounds[j].latSW;
							var longSW = recordArray[i].bounds[j].longSW;
							$("#holder").append(recordArray[i].bounds[j].latNE+"  ");
							$("#holder").append(recordArray[i].bounds[j].longNE+"  ");
							$("#holder").append(recordArray[i].bounds[j].latSW+"  ");
							$("#holder").append(recordArray[i].bounds[j].longSW+"  ");	
							
							//ping the places API here
						}
						
				}
			});
			
			
	body
		div#holder 
		
		
		